* { 
padding: 0;
margin: 0;
overflow-x: hidden;
box-sizing: border-box;
text-align: center;
}

.header {
background-color: #C783C9;
text-align: center;
color: white;
font-size: 50px;
font-family: 'Qwigley', cursive;
padding: 15px;
}

footer {
   background-color: #C783C9;
   padding-top: 20px;
   font-family: 'Indie Flower', cursive;
   }

main {
background-image: linear-gradient(#eebdd2, #E379A7);
font-family: 'Indie Flower', cursive;
}

h1, h2 {
font-family: 'Indie Flower', cursive;
margin-top: 20px;
}

.boxes {
background-color:#C783C9;
margin: 5px 60px;
padding: 30px 5px;
padding-top: 45px;
border-radius: 20px;
}

.hero-video {
display: none;
}

.hero {
   position: relative; 
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
     
.hero-text {
   font-size: 35px;
   color: white;
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#tablet-header {
   display: block;
   height: auto;
   width: 100%;
   object-fit: cover;
   margin: 0;
   padding: 0;
}

   #nosifer {
   font-family: 'Nosifer', sans-serif;
}

   .openhours {
   margin-bottom: 20px;
}

   p {
   margin-bottom: 20px;
}

figure {
   padding-top: 20px;
}
      
h2 {
   font-size: 40px;
}

p, li {
   font-size: 25px;
}

#logo {
   font-size: 80px;
}

.images {
   border-radius: 20px;
   width: 80%;
}

@media screen and (min-width: 600px) {

  .main-info {
    width: 80%;
    margin: auto;
  }
  
  .boxes {
   margin: auto;
   width: 30%;
   margin-top: 5%;
  }

  .hero-text {
   font-size: 100px;
}  
}


@media screen and (min-width: 992px) {
  


   #tablet-header {
      display: none;
   }  

   .main-info {
      width: 40%;
   }

   .events {
      display: flex;
      flex-wrap: wrap;
      width: 40%;
      margin:auto;
   }

   .boxes {
      width: 25%;
      margin-top: 1%;
   }
   
   #upcoming {
      flex-shrink: 0;
      flex-basis: 100%;
   }

   .hero, .hero-video {
      height: 50vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-top: 0px;
  }

  .hero-video {
   width: 100%;
   height: 50vh;
   object-fit: cover;
   position: absolute;
}

.main-images {
   display: flex;
}

.images {
   margin: 1%;
}
}
